
.App {
  background-color: #1d1d1d;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}
.featured-movie {
  padding: 7%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.featured-movie h1{
  padding-bottom: .4rem;
  font-size: 3rem;
}
.featured-movie .tag {
  width: 10%;
  border-radius: 2px;
  background-color: rgba(0, 0, 255, 0.507);
  color: #fff;
}
.featured-movie p {
  padding: .8rem 0;
  width: 50%;
  line-height: 1.4;
}
.featured-movie button {
  margin-bottom: 10px;
  padding: 8px 40px;
  font-size: 1.1rem;
  border: none;
   border-radius: 2px;
  background-color: blue;
  color: #fff;
}
.featured-movie button:hover{
  cursor: pointer;
}
.tv-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;

}
